@font-face {
    font-family: neuropolitical;
    src: url('/fonts/neuropolitical.ttf');
}

header.site-header, footer.site-footer {
    background-color: black;
    color: white;
    z-index: 999;
}
header.site-header {
    top: 0;
    position: sticky;
}

a.site-title-logo {
    margin-top: 10px;
}
footer.site-footer, footer.site-footer .footer-col-wrapper .footer-col {
    text-align: center;
    width: 100%;
    font-family: neuropolitical;
    .footer-col-wrapper .footer-col {
        margin-bottom: 0;
    }
}
@media screen and (min-width: 600px) {
    div.trigger a.page-link {
        color: white;
    }
    nav.site-nav, a.site-title {
        display: inline;
        float: none;
    }
    nav.site-nav {
        width: 100%;
        text-align: center;
    }
    a.site-title-logo {
        display: inline;
        position: absolute;
        top: 25px;
        left: 10px;
        margin-top: 0;
    }
    nav.site-nav, nav.site-nav * {
        color: white;
        text-transform: uppercase;
        font-family: neuropolitical, Arial, sans-serif;
    }
    div.site-title-container {
        width: 100%;
        text-align: center;
    }
}
@media screen and (max-width: 600px) {
    nav.site-nav, nav.site-nav * {
        color: black;
    }
    a.site-title {
        display: none;
    }
    a.site-title-logo {
        display: block;
        float: none;
        width: 100%;
        text-align: center;
    }
}
a.site-title, a.site-title:visited {
    color: white;
    font-family: neuropolitical, Arial, Helvetica, sans-serif;
}

a.social-link {
    color: white;
    &:hover {
        text-decoration: underline;
    }
}
.social-media-list {
    display: inline;
    margin-left: 8px;
    li {
        display: inline;
        margin-right: 5px;
    }
}
.profile {
    position: relative;
    .profile-header {
        position: sticky;
        top: 0;
        backdrop-filter: blur(5px);
        display: block;
        width: 100%;
        text-align: right;
        padding: 0.5em;
        box-sizing: border-box;
        background-color: rgba(255,255,255,0.5);
        box-shadow: 0 0 5px black;
        clip-path: inset(0 0 -5px 0);
    }
    .profile-name {
        font-family: 'neuropolitical';
        font-weight: bold;
        letter-spacing: 0.5em;
        margin: 0;
    }
    .profile-title {
        font-family: Verdana, Arial, Helvetica, sans-serif;
        font-style: italic;
        font-weight: bold;
        letter-spacing: 0.2em;
    }
    .profile-text {
        background-color: rgba(255,255,255,0.7);
        backdrop-filter: blur(5px);
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
        margin-top: 10em;
        margin-bottom: 0;
        min-height: 100%;
    }
    overflow-y: scroll;
    height: 400px;
    background-size: auto;
    padding: 0;
    &::-webkit-scrollbar {
        display: none;
    }
}