@font-face {
    font-family: neuropolitical;
    src: url('/fonts/neuropolitical.ttf');
}

header.site-header, footer.site-footer {
    background-color: black;
    color: white;
}
@media screen and (min-width: 600px) {
    div.trigger a.page-link {
        color: white;
    }
    nav.site-nav, nav.site-nav * {
        color: white;
    }
}
@media screen and (max-width: 600px) {
    nav.site-nav, nav.site-nav * {
        color: black;
    }
}
a.site-title, a.site-title:visited {
    color: white;
    font-family: neuropolitical, Arial, Helvetica, sans-serif;
}

a.social-link {
    color: white;
    &:hover {
        text-decoration: underline;
    }
}
.social-media-list {
    display: inline;
    margin-left: 8px;
    li {
        display: inline;
        margin-right: 5px;
    }
}
