@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700&display=swap');
body {
    width: 100vw;
    height: 100vh;
    font-family: Montserrat, Segoe UI, sans-serif;
    margin: 0;
    overflow: hidden;
}
.page-title {
    font-weight: 500;
    font-size: large;
}
main {
    height: 100%;
    overflow: auto;
    /* font-family: Georgia, Times, Times New Roman, serif; */
    font-family: Arial, Helvetica, sans-serif;
    background-color: whitesmoke;
}
span.docviewer {
    float: right;
    font-weight: lighter;
}
main .page {
    padding: 20px;
    border-radius: 5px;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 50px;
    word-wrap: break-word;
    box-shadow: 1px 2px 20px black;
    min-height: 100%;
    max-width: 600px;
    background-color: white;
}
div.controls {
    position: sticky;
    position: -webkit-sticky;
    top: 0px;
    padding: 10px;
    background-color: white;
    box-shadow: 1px 0px 5px black;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
img.site-icon {
    vertical-align: middle;
}
a.home-link {
    text-decoration: none;
    color: black;
}
@media screen and (max-width: 775px) {
    span.home-link-text {
        display: none;
    }
}
@media screen and (max-width: 525px) {
    span.docviewer {
        display: none;
    }
    div.controls {
        display: block;
    }
}