<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/assets/logo.png">
    <link rel="stylesheet" href="/assets/css/document.css">
    <title>{{page.title}} | Document Viewer | {{site.title}}</title>
</head>
<body>
    <div class="controls">
        <a href="/" class="home-link" title="Go home"><img class="site-icon" width="32" src="/assets/logo-glow.png"> <span class="home-link-text">Manchester Machine Makers</span></a>
        <span class="page-title">{{page.title}}</span>
        <span class="docviewer">Document Viewer</span>
    </div>
    <main>
        <div class="page">
        {{content}}
        </div>
    </main>
</body>
</html>